<%= render partial: 'header' %>
<div class="card">
  <div class="card-block">
    <div>
      <h4>History</h4>
      <p><%= @about.history %></p>
    </div>
    <div>
      <h4>Mission</h4>
      <p><%= @about.mission %></p>
    </div>
  </div>
</div>
