<%= render partial: 'header' %>

<div class="card">
  <div class="card-block">
    <div>
      <h4>You are welcome to contact us:</h4>
      <p>Phone: <strong><%= @contact.phone_number %></strong></p>
      <p>Email: <strong><%= @contact.email %></strong></p>
      <p>Location: <strong><%= @contact.address %></strong></p>
    </div>
  </div>
</div>
