<% if !@line_item.nil? && @line_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @line_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @line_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "Back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @line_items.each do |line_item| %>
    <%= render 'carts/cart_row', book: line_item.book, line_item: line_item, show_total: true %>
  <% end %>
<% end %>
